<div class="container bg-dark md-3">
  <div class="row info" >
    <div  class="col-sm-5">
      <h1>Contact</h1>
      <ul>
        <li>Street: {{ $contact.street }}</li>
        <li>City: {{ $contact.city }}</li>
        <li>State: {{ $contact.stateFull }}</li>
        <li>Zipcode: {{ $contact.zipcode }}</li>
        <li>Phone Number: {{ $contact.phoneNumber }}</li>
        <li>Mobile: {{ $contact.mobileNumber }}</li>
        <li>Mail: {{ $contact.mail }}</li>
      </ul>

      <div>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
    <div class="col-sm-7 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.201404220853!2d14.490119416145582!3d53.44698588000021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa0ebe923c642d%3A0xce2d544a1519df89!2sDepartment+of+Computer+Science+ZUT!5e0!3m2!1sen!2spl!4v1543269159837"
         width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>  
</div>
