.container{
    position: relative;
    top: 70px;
}

.button {
    margin: 10px;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #2EE59D;
    border: none;
    border-radius: 45px;
    box-shadow: black 0.1em 0.1em 0.1em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }
}
.photo-card {
    margin: 10px 0 10px 0;
    box-shadow: black 0.1em 0.1em 0.2em;
}